*{
    box-sizing: border-box;
}

body{
    background-color: rgb(95, 52, 97);
    font-family: 'Roboto Mono'sans-serif;
    color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    margin:0px;
    overflow: hidden;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 30px 50px;
    text-align: center;
}

.container {
   font-size: 60px;
   margin-top: 20px;
}


@media (max-width:500px ){
    body {
        flex-direction: column;
    }
}

footer {
    position:absolute;
    margin-bottom: 50px;
    bottom: 0;
}